{% comment %}
  Footer for lesson pages.
{% endcomment %}

{% include gh_variables.html %}

<footer>
  <div class="row">
    <div class="col-md-6 license" id="license-info" align="left">
	{% if site.carpentry == "swc" %}
	Content licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2020–{{ 'now' | date: "%Y" }}
	by the <a href="{{ site.lpc_site }}">LPC</a> at <a href="{{ site.fnal_site }}">FNAL</a><br>
	Content licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2020–{{ 'now' | date: "%Y" }}
	by the <a href="{{ site.cms_site }}">CMS</a> Collaborations at <a href="{{ site.cern_site }}">CERN</a>
    <br>
	Lesson setup licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2018–{{ 'now' | date: "%Y" }}
	by <a href="{{ site.carpentries_site }}">The Carpentries</a>
        <br>
        Lesson setup licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2016–2018
	by <a href="{{ site.swc_site }}">Software Carpentry Foundation</a>
	{% elsif site.carpentry == "dc" %}
	Licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2018–{{ 'now' | date: "%Y" }}
	by <a href="{{ site.carpentries_site }}">The Carpentries</a>
        <br>
        Licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2016–2018
	by <a href="{{ site.dc_site }}">Data Carpentry</a>
	{% elsif site.carpentry == "lc" %}
	Licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2016–{{ 'now' | date: "%Y" }}
	by <a href="{{ site.lc_site }}">Library Carpentry</a>
	{% elsif site.carpentry == "cp" %}
	Licensed under <a href="{{ site.cc_by_human }}">CC-BY 4.0</a> 2018–{{ 'now' | date: "%Y" }}
	by <a href="{{ site.carpentries_site }}">The Carpentries</a>
	{% endif %}
    </div>
    <div class="col-md-6 help-links" align="right">
	{% if page.source %}
	{% if page.source == "Rmd" %}
	<a href="https://gitlab.cern.ch/-/ide/project/cmsdas-cern-2024/cms-das-pre-exercises/edit/master/-/{{page.path|replace: "_episodes", "_episodes_rmd" | replace: ".md", ".Rmd"}}" data-checker-ignore>Edit on GitLab</a>
	{% endif %}
	{% else %}
	<a href="https://gitlab.cern.ch/-/ide/project/cmsdas-cern-2024/cms-das-pre-exercises/edit/master/-/{{page.path}}" data-checker-ignore>Edit on GitLab</a>
	{% endif %}
	/
	<a href="https://gitlab.cern.ch/cmsdas-cern-2024/cms-das-pre-exercises/-/blob/master/CONTRIBUTING.md" data-checker-ignore>Contributing</a>
	/
	<a href="https://gitlab.cern.ch/cmsdas-cern-2024/cms-das-pre-exercises/">Source</a>
	/
	<a href="https://gitlab.cern.ch/cmsdas-cern-2024/cms-das-pre-exercises/-/blob/master/CITATION" data-checker-ignore>Cite</a>
	/
	<a href="mailto:cmsdas-cern-organizers@cern.ch">Contact</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" align="center">
      Using <a href="https://github.com/carpentries/styles/">The Carpentries style</a>
      version <a href="https://github.com/carpentries/styles/releases/tag/v9.5.3">9.5.3</a>.
    </div>
  </div>
</footer>
